.header {
  background-color: var(--badges);
  border-bottom: 1px solid var(--gray-light);
}

.inner {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.headerLogo {
  width: 102px;
  height: 16px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.link {
  font-size: 16px;
  font-weight: 500;
  color: var(--main);
  transition: color var(--transition);
}

.link:hover,
.link:focus {
  color: var(--button-hover);
}