@import 'modern-normalize/modern-normalize.css';

:root {
  --color-main: #3470ff;
  --color-main-hover: #0b44cd;

  --color-dark: #101828;
  --color-gray: #8e929a;
  --color-light-gray: #dadde1;
  --color-border: #dadde1;

  --color-bg: #f7f7f7;
  --color-header-bg: #f2f4f7;
  --color-white: #ffffff;

  --font-main: var(--font-manrope), sans-serif;

  --transition: 250ms ease;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-main);
  font-weight: 400;
  color: var(--color-dark);
  background-color: var(--color-white);
}
/* reusable button */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 156px;
  height: 44px;
  padding: 0 24px;
  border: none;
  border-radius: 12px;
  background-color: var(--color-main);
  color: var(--color-white);
  font-size: 16px;
  font-weight: 600;
  transition: background-color var(--transition);
}

.btn:hover,
.btn:focus {
  background-color: var(--color-main-hover);
}

.btnSecondary {
  background-color: transparent;
  border: 1px solid var(--color-main);
  color: var(--color-dark);
}

.btnSecondary:hover,
.btnSecondary:focus {
  color: var(--color-white);
  background-color: var(--color-main);
}

/* reusable input */
.input {
  width: 100%;
  height: 44px;
  padding: 12px 16px;
  border: none;
  border-radius: 12px;
  outline: none;
  background-color: var(--color-bg);
  color: var(--color-dark);
  font-size: 14px;
}

.input::placeholder {
  color: var(--color-gray);
}

.input:focus {
  box-shadow: 0 0 0 1px var(--color-main);
}

/* reusable select */
.select {
  height: 44px;
  padding: 12px 16px;
  border: none;
  border-radius: 12px;
  outline: none;
  background-color: var(--color-bg);
  color: var(--color-dark);
  font-size: 14px;
}

.select:focus {
  box-shadow: 0 0 0 1px var(--color-main);
}

/* visually hidden */
.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
}